{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
<section class="section">
	<div class="container">
		<h1 class="title">Welcome to Barelo!</h1>
		<h2 class="subtitle">
			Meet your new freeish favorite book!, sign up to check it out!
		</h2>
	</div>
</section>