<form action="/login" method="post">
  <input type="text" name="username" placheholder="username">
  <input type="password" name="password" placheholder="password">
  <button type="submit">Login</button>
</form>