<form action='/new/ISBN' method='POST' enctype="multipart/form-data">
  <input type="text" name="ISBN10">
  <input type="file" name="photo" id="photo" accept="image/*">
  <input id="lng" type="text" name="lng" hidden>
  <input id="lat" type="text" name="lat" hidden>
  <input id="address" type="text" name="address" hidden>
  <div id="map"></div>
  <button class="button is-primary">Submit</button>
</form>

<form action='/new/form' method='POST' enctype='multipart/form-data'>
  <input type="text" name="">
  <input type="file" name="photo" id="photo" accept="image/*">
  <div id='map'></div>
  <input id="lng" type="text" name="lng" hidden>
  <input id="lat" type="text" name="lat" hidden>
  <input id="address" type="text" name="address" hidden>
  <div id='map'></div>
  <button class="button is-primary">Submit</button>
</form>
<script>
  require('dotenv').config()
  mapboxgl.accessToken = process.env.MAP;
  const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11'
  });
  const geoCoder = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken
  })
  map.addControl(geoCoder)
  geoCoder.on('results', (results) => {
    document.querySelector('#address').value = results.features[0].place_name
    document.querySelector('#lat').value = results.features[0].center[1];
    document.querySelector('#lng').value = results.features[0].center[0];
  })
</script>