<form action="/login" method="post">
  <input type="text" name="username" placheholder="username">
  <input type="text" name="name" placheholder="name">
  <input type="password" name="password" placheholder="password">
  <input type="text" name="country">
  <button type="submit">Signup</button>
</form>