@import url('https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap');

* {
  padding: 0;
  margin: 0;
}

$color-my-main: #01d1b2;
$color-my-gray: #F5F5F5;
$color-my-red: #F14768;
$color-my-dark-gray: #4A4A4A;

a {
  color: $color-my-gray;
}

body {
  margin-top: 3%;
}

#map {
  width: 500px;
  height: 500px;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;

}

h4 {
  font-size: 1.2rem;
}


.my-fixed-top-nav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.my-secon-nav-main {
  background-color: $color-my-main;

  .logo-barelo-nav {
    height: 60px;
  }
}

.second-button-main-nav {
  margin-right: 10%;
}

.header-main-home {
  height: 54px;
  background-color: $color-my-main;
  display: flex;
  padding: 0 2%;
  justify-content: space-between;
  align-items: center;

  .logo-barelo-nav {
    img {
      padding-top: 4px;
      width: 50px;
    }
  }

  a {
    margin-left: 4px;

    i.select:after {
      color: white !important;
    }
  }
}

.my-fixing {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  height: 54px;
  bottom: 0;
  width: 100%;
  z-index: 3;
}

.my-fixing-spacing {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.whiting {
  color: white;
}

.index-page {
  display: flex;
  justify-content: center;

  hr {
    background-color: $color-my-dark-gray;
    opacity: 0.1;
  }

  .hp20 {
    margin-left: 20px;
  }

  .book-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    // justify-content: space-between;
    align-content: flex-start;
  }

  .one-book {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 380px;
    padding: 0 20px;

    img {
      height: 228px;
      width: 160px;
    }

    a {
      color: $color-my-main;
      font-weight: 600;
      text-decoration: none;
      text-transform: uppercase;
      // color: $color-my-red;
    }

    button {
      border: none;
    }

    p {
      text-align: center;
      line-height: 18px;
      width: 160px;
    }

    div {
      height: 36px;
    }
  }


}

.round-border-books {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

////////////////////////////
#book-details {
  .details-wrapper {
    display: flex;
  }

  img {
    width: 100%;
  }



  .giver-box {
    background-color: $color-my-gray;
    border: 1px solid $color-my-gray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6% 0;

    img {
      width: 80px;
      clip-path: circle(40px at center);
      align-self: center;
    }

    h4 {
      color: $color-my-dark-gray;
    }

    a {
      color: $color-my-main;
      font-size: 2rem;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

#new-book-add {
  form {
    width: 90%;
    display: flex;
    align-content: center;
    flex-direction: column;

    img {
      width: 50%;
    }

    #map {
      height: 500px;
      width: 500px;
    }
  }
}


.gray-bg {
  background-color: $color-my-gray;
  width: 100%;
  height: 100%;
}


#main-profile {
  img[alt="profile-pic"] {
    width: 160px;
    clip-path: circle(80px at center);
    align-self: center;

  }

  .token-coin {
    background-image: url('/images/token1.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 10px 0;
    padding: 0;
    align-self: center;

    p {
      font-size: 3rem;
    }
  }

  .bottom-buttons-prof {
    margin: 20px 0;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    a {
      margin: 10px 0;
    }
  }

  .one-book-profile {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 160px;
    margin-right: 30px;

    img {
      height: 228px;
      width: 160px;
      text-align: center;
    }

    p {
      margin: 10px 0;
      text-align: center;
    }
  }

  .centerizeme {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .not-yet-carousel {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
  }
}